*{
  box-sizing: border-box;
}

.main-interface-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  flex-direction:column
}
.symbol-container{
  display:flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  flex-direction: row;
  margin-top: 20px;
}
/* .app-bar-container{
} */
.primary-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:40%;
  width:100%;
  flex-direction:row;
}
/* .App{
  display: flex;
  justify-content: center;
  align-items: center;
} */
.css-0{
  margin-left: 5px;
  margin-right: 5px;
}